<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>The Glorious Fibonacci calculator site</title>
<link rel="stylesheet" type="text/css" href="default.css"></link>
<link rel="stylesheet" type="text/css" href="fonts.css"></link>
</head>
<body>
	<h1>Welcome to the The Glorious Fibonacci calculator site!</h1>
	<h2>With high level embedded security</h2>

	<p>
		Click <a th:href="@{/fibonacci}">here</a> to see log in if you dare.
	</p>
</body>
</html>